body{
    font-family: sans-serif;
    background-color: rgb(22, 28, 59);
    color: white;
}

#my-img-container > .my-card{
    width: calc((100% / 3) - 1rem);
}

#my-img-container > .my-card > img{
    margin-bottom:.5rem;
    width: 100%;
}

.my-name{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.my-role{
    text-align: center;
}

#my-img-container{
    gap: 1rem;
}